<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title></title>
      <meta name="viewport" content="width=device-width">
  
      <!-- Embedded stylesheet -->
      <style>
        iframe,img{
          float:right;
        }
        div{
          clear:both;
        }
    </style>
  </head>

  <body>
    <h2>{{ site.title }}</h2>
    <h3>{{ page.title }}</h3>
    
    <p>
      <a href="index.html">Posts</a> - 
      <a href="packages/">Packages</a> - 
      <a href="kittens.html">Kittens</a>
    </p>
    <hr />
      
    {{ content }}
  </body>
</html>
